body{
    background-color: rgb(224, 224, 224);
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.addbutton{
    background-color: rgb(224, 224, 224);
    border: none;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(180, 180, 180);
}
.header{
    background-color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 15px;
    box-shadow: 2px 2px 5px 1px gray;
}
.cards{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    grid-template-rows: repeat(auto-fit,1fr);
    gap: 20px;
}
.card{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
}
.addbox{
    position: absolute;
    min-width: 100%;
    background-color: rgba(100, 100, 100, 0.5) ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.addbox>form{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 5%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
form>p{
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}
form>input{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
form>div{
    font-size: 20px;
}
form>button{
    background-color: rgb(155, 255, 155);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
